# Docker start copying all the file in /app so ignoring shit will speed up the process!
# Node
node_modules
dist
build
npm-debug.log
# Docker
Dockerfile
Dockerfile.prod
.dockerignore
# Git
.git
.gitignore
.eslintcache
# Extra
README.md
